@media screen and (max-width: 699px) and (min-width: 520px){
.headerButtonWrapper {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
    padding: 6px 0;
    width: 100%;
}}
